#wrapper .refer-item .refer-img img{
	width: 140px;
	height: 110px;
	padding: 5px;
	border: 1px solid lightgray;
	border-radius: 5px;
}
#wrapper .refer-item .refer-img{
	display: inline-block;
	float: left;
}
#wrapper .refer-item .refer-content h4{
	font-weight: 100;
	color: #0ba1e4;
	text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	font-size: ;
}
#wrapper .refer-item .refer-content .dynamic-li{
	/* float: left; */
	font-size: 13px;
}
#wrapper .refer-item .refer-content p{
	/* float: left; */
	font-size: 13px;
	display: inline-block;
	text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
#wrapper .refer-item .refer-content a{
	float: right;
	color: darkgray;
}
#wrapper .refer-item{
	margin-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid darkgray;
}
#wrapper .refer-item .refer-content h4:hover{
	font-weight: bold;
	cursor: pointer;
}
#wrapper .refer-item .refer-img img:hover{
	cursor: pointer;
	border: 1px solid #0ba1e4;
}
#content .container .col-sm-3{
	border-left: 1px solid darkgray;
	overflow: hidden;
	/* width: 120%; */
}
#sidebar{
	width: 120%;
	overflow-y: scroll;
}
#sidebar-content h4{
	font-weight: 100;
	border-bottom: 1px solid darkgray;
	padding-bottom: 15px;
	width: 237px;
}
#sidebar-content .sidebar-contact{
	margin-bottom: 40px;
}
.sidebar-chat,.sidebar-laidian,.sidebar-qq{
	color: orange;
	font-size: 20px;
	font-weight: 100;
	margin: 10px;
}
.sidebar-chat span,.sidebar-laidian span,.sidebar-qq span{
	font-size: 20px;
}
.sidebar-chat a,.sidebar-laidian a,.sidebar-qq a{
	text-decoration: none;
	color: orange;
}
#sidebar-content ul li a{
	color: black;
	text-decoration: none;
}
#sidebar-content ul li a:hover{
	color: #0ba1e4;
}
#sidebar-content ul li{
	line-height: 30px;
}
#sidebar-content ul{
	padding-left: 20px;
}