#content .container .data-container .refer-item{
	border-bottom: 1px solid black;
	padding-bottom: 20px;
	padding-top: 20px;
}
#content .container .data-container .refer-item .refer-content{
	background: url(../images/doc.svg) no-repeat;
	padding-left: 80px;
}
#content .container .data-container .refer-item:nth-of-type(-n+4):nth-of-type(n+3) .refer-content{
	background: url(../images/pdf.svg) no-repeat;
}
#content .container .data-container .refer-item:nth-of-type(-n+10):nth-of-type(n+7) .refer-content{
	background: url(../images/docx.svg) no-repeat;
}
#content .container .data-container .refer-item .refer-content h3{
	font-weight: bold;
	font-size: 18px;
}
#content .container .data-container .refer-item .refer-content p{
	font-size: 13px;
}
#content .container .data-container .refer-item .dynamic-li span{
	display: inline-block;
	padding-right: 20px;
	padding-top: 7px;
	font-size: 13px;
}
#content .container .data-container .refer-item .dynamic-li{
	display: inline-block;
}
#content .container .data-container .refer-item .refer-content a{
	float: right;
	border: 1px solid royalblue;
	color: royalblue;
}
#content .container .col-sm-3{
	border-left: 1px solid darkgray;
	overflow: hidden;
	/* width: 120%; */
}
#sidebar{
	width: 120%;
	overflow-y: scroll;
}
#sidebar-content h4{
	font-weight: 100;
	border-bottom: 1px solid darkgray;
	padding-bottom: 15px;
	width: 237px;
}
#sidebar-content .sidebar-contact{
	margin-bottom: 40px;
}
.sidebar-chat,.sidebar-laidian,.sidebar-qq{
	color: orange;
	font-size: 20px;
	font-weight: 100;
	margin: 10px;
}
.sidebar-chat span,.sidebar-laidian span,.sidebar-qq span{
	font-size: 20px;
}
.sidebar-chat a,.sidebar-laidian a,.sidebar-qq a{
	text-decoration: none;
	color: orange;
}
#sidebar-content ul li a{
	color: black;
	text-decoration: none;
}
#sidebar-content ul li a:hover{
	color: #0ba1e4;
}
#sidebar-content ul li{
	line-height: 30px;
}
#sidebar-content ul{
	padding-left: 20px;
}