* {
	margin: 0;
	padding: 0;
}

ul li {
	list-style: none;
}

a {
	text-decoration: none;
}

body {
	background-color: #f5f6fa;
}

/* 头部css */
#move {
	/* margin: 0 auto; */
	width: 100%;
	background-color: #531164;
	height: 80px;

}

.move-img {
	width: 1200px;
	margin: 0 auto;
	position: relative;
}

.move-img i {
	font-size: 22px;
	position: absolute;
	top: 5px;
	left: 1170px;
	background: rgba(45, 45, 45, 0.3);
	color: lightgray;
}

#head-nav {
	width: 100%;
	height: 60px;
	background-color: white;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	z-index: 3;
}

#head-nav .head-content {
	margin: 0 auto;
	width: 1200px;
	position: relative;
}

 .sify-one {
	width: 232px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	background-color: #F42424;
	font-size: 18px;
	color: white;
	font-weight: bold;
	margin-top: 10px;
	display: inline-block;
}

#sify-input {
	width: 420px;
	height: 30px;
	border: 2px solid #F42424;
	position: absolute;
	top: 4px;
	left: 310px;
}

.head-content button:first-of-type {
	width: 80px;
	height: 34px;
	background-color: #F42424;
	border: none;
	color: white;
	font-size: 16px;
	position: absolute;
	top: 4px;
	left: 722px;
}

.head-content button:nth-of-type(2) {
	width: 80px;
	height: 34px;
	background-color: #B31919;
	border: none;
	color: white;
	font-size: 16px;
	position: absolute;
	top: 4px;
	left: 840px;
}

.head-content p {
	font-size: 14px;
	color: #555555;
	display: inline-block;
	position: absolute;
	top: 10px;
	left: 1000px;
}

.head-content>i {
	font-size: 20px;
	font-weight: bold;
	color: red;
	display: inline-block;
	position: absolute;
	top: 10px;
	left: 1100px;
}

.head-content>span {
	width: 16px;
	height: 16px;
	font-size: 13px;
	border-radius: 50%;
	background-color: red;
	color: white;
	display: inline-block;
	text-align: center;
	position: absolute;
	top: 2px;
	left: 1110px;
}

#bg {
	width: 100%;
	height: 126px;
	background: rgba(192, 192, 192, 0.1);
}

#header {
	margin: 0 auto;
	width: 1200px;
	height: 126px;
	background-color: white;
	position: relative;
}

#header .logoImg {
	float: left;
	width: 232px;
	height: 126px;
	box-shadow: 3px 0px 7px rgba(0, 0, 0, 0.2);
	position: relative;
}

#header>.logoImg>a>img {
	margin-left: 38px;
	position: absolute;
	top: 32px;
}

#header .nav-one {
	height: 30px;
	background-color: #EEEEEE;
	width: 968px;
	float: left;
}

#header .adress {
	display: inline-block;
	margin-left: 20px;
	color: #555555;
	font-size: 14px;
	height: 30px;
	width: 80px;
	cursor: pointer;

}

#header .adress i {
	font-size: 22px;
	color: red;
	line-height: 28px;
}

.adre-ss {
	width: 498px;
	height: 222px;
	border: 1px solid lightgray;
	z-index: 2;
	display: none;
	background-color: white;
	position: absolute;
}

#header .adress:hover .adre-ss {
	display: block;
}

#header .adress:hover {
	background-color: white;
}

.adre-ss>ul:first-child {
	width: 450px;
	height: 20px;
	margin-left: 15px;

	margin-top: 20px;
}

.adre-ss>ul:first-child li {
	/* float: left; */
	display: inline-block;
	width: 60px;
	text-align: center;
	cursor: pointer;
	overflow: hidden;
}

.adre-ss>ul:first-child li:hover {
	background-color: #F42424;
	color: white;
}

.ardess-ul {
	margin-left: 16px;
}

.ardess-ul li {
	float: left;
	text-align: center;
	margin-left: 8px;
	cursor: pointer;
	overflow: hidden;
	color: darkgray;
	padding: 1px;
	/* font-size: 17px; */
	font-weight: bold;
}

.ardess-ul li:hover {
	color: red;
}

.ardess-dl {
	height: 160px;
	width: 476px;
	overflow: auto;
	margin-left: 22px;
	position: relative;
}
.ardess-dl>li{
	overflow: hidden;
}
.ardess-dl li div:first-child {
	float: left;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background-color: lightgray;
	font-size: 14px;
	text-align: center;
	color: darkgray;
	font-weight: bold;
}

.ardess-dl li div:last-child {
	float: left;
	width: 430px;
	margin-left: 10px;
	/* float: left; */
}

.ardess-dl li span {
	display: inline-block;
	/* width: 60px; */
	margin-right: 15px;
	font-size: 12px;
	padding: 2px;
	/* text-align: center; */
}

.ardess-dl li span:hover {
	background-color: #F42424;
	color: white;
}

.nav-one p {
	display: inline-block;
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	margin-left: 20px;
}

.nav-one p a {
	color: red;
}

.nav-one p span {
	color: darkgray;
	display: inline-block;
	margin-left: 15px;
}

.nav-one>ul {
	float: right;
}

.nav-one>ul li {
	float: left;
	font-size: 14px;
	line-height: 14px;
	color: darkgray;
	border-right: 1px solid darkgray;
	margin-top: 9px;
	width: 77px;
	margin-left: 17px;
}

.nav-two input {
	width: 420px;
	height: 30px;
	border: 2px solid #F42424;
	position: absolute;
	top: 50px;
	left: 310px;
	outline: none;
}

.nav-two button:first-of-type {
	width: 80px;
	height: 34px;
	background-color: #F42424;
	border: none;
	color: white;
	font-size: 16px;
	position: absolute;
	top: 50px;
	left: 722px;
}

.nav-two button:nth-of-type(2) {
	width: 80px;
	height: 34px;
	background-color: #B31919;
	border: none;
	color: white;
	font-size: 16px;
	position: absolute;
	top: 50px;
	left: 840px;
}

.shopping {
	width: 160px;
	height: 32px;
	border: 1px solid darkgray;
	position: absolute;
	top: 50px;
	left: 1000px;
	font-size: 13px;
	color: red;
	/* line-height: 32px; */
	padding-left: 20px;
}

.shopping i {
	font-size: 20px;
	font-weight: bold;
	line-height: 32px;
}

.shopping span {
	display: inline-block;
	border-radius: 50%;
	background-color: red;
	color: white;
	width: 18px;
	height: 18px;
	text-align: center;
	margin-left: 20px;
}

.nav-two p {
	font-size: 13px;
	color: darkgray;
	display: inline-block;
	position: absolute;
	top: 86px;
	left: 310px;
}

#inner {
	width: 380px;
	height: 140px;
	background-color: white;
	border: 1px solid darkgray;
	position: absolute;
	top: 30px;
	left: 818px;
	z-index: 1;
	display: none;
}

#inner p {
	color: darkgray;
}

#inner p:hover {
	color: red;
}

.inner-one {
	margin-top: 15px;
	width: 80px;
	height: 120px;
	border-right: 1px solid darkgray;
	padding-right: 10px;
	display: inline-block;
}

.inner-one p {
	font-size: 13px;
}

.inner-two {
	margin-top: 15px;
	width: 80px;
	height: 120px;
	padding-right: 10px;
	display: inline-block;
}

.inner-two p {
	font-size: 13px;
}

.inner-three {
	margin-top: 15px;
	width: 80px;
	height: 120px;
	padding-right: 10px;
	display: inline-block;
}

.inner-three p {
	font-size: 13px;
}

#inner-block {
	height: 30px;
	cursor: pointer;
}

#inner-block:hover #inner {
	display: block;
}

#shop-none {
	width: 300px;
	height: 100px;
	border: 1px solid darkgray;
	border-top: none;
	position: absolute;
	top: 32px;
	left: -121px;
	display: none;
}

.shop-img {
	width: 100px;
	height: 100px;
	border-top: 1px solid darkgray;
	padding-left: 20px;
	padding-top: 20px;
	display: inline-block;
}

#shop-none p {
	position: absolute;
	top: 35px;
	left: 160px;
	width: 145px;
}

.shopping:hover {
	border-bottom: none;
}

.shopping:hover #shop-none {
	display: block;
}

#matter {
	width: 100%;
	height: 80px;
	background-color: #EEEEEE;
	/* position: relative; */
}

#matter ul {
	margin: 0 auto;
	width: 1200px;
	position: relative;
}

#matter ul li {
	float: left;
	margin-top: 25px;
	width: 136px;
	font-size: 20px;
	color: darkgray;
	padding-left: 35px;
}

.ma-one,
.ma-two,
.ma-three,
.ma-four,
.ma-fif,
.ma-six,
.ma-sev {
	width: 34px;
	height: 35px;
	display: inline-block;
}

.ma-one {
	background: url(../images/下载.png) 00px 200px;
	position: absolute;
	top: 20px;
	left: 0;
}

.ma-two {
	background: url(../images/下载.png) -34px 200px;
	position: absolute;
	top: 20px;
	left: 170px;
}

.ma-three {
	background: url(../images/下载.png) -68px 200px;
	position: absolute;
	top: 20px;
	left: 340px;
}

.ma-four {
	background: url(../images/下载.png) -102px 200px;
	position: absolute;
	top: 20px;
	left: 510px;
}

.ma-fif {
	background: url(../images/下载.png) -136px 200px;
	position: absolute;
	top: 20px;
	left: 680px;
}

.ma-six {
	background: url(../images/下载.png) 204px -99px;
	position: absolute;
	top: 20px;
	left: 850px;
}

.ma-sev {
	background: url(../images/下载.png) 204px -133px;
	position: absolute;
	top: 20px;
	left: 1020px;
}

#footer {
	width: 100%;
	height: 300px;
	background-color: #262626;
	position: relative;
}

.footer-one {
	margin: 0 auto;
	width: 1200px;
	height: 180px;
	border-bottom: 1px solid #4F4E4E;
}

.foot-one {
	width: 900px;
}

.foot-two {
	color: white;
	/* margin-top: 20px; */
}

.foot-two li {
	float: left;
	width: 180px;
	height: 40px;
	margin-top: 21px;
	font-size: 16px;
	font-weight: bold;
}

.foot-three {
	color: darkgray;
}

.foot-three li {
	float: left;
	width: 180px;
	font-size: 14px;
	height: 25px;
}

.foot-four {
	width: 100px;
	height: 130px;
	position: absolute;
	top: 20px;
	left: 1060px;
}

.foot-bg {
	width: 100px;
	height: 20px;
	background-color: white;
	position: absolute;
	top: 100px;
	left: 0px;
}

.foot-bg span {
	display: inline-block;
	background-color: black;
	width: 96px;
	height: 18px;
	position: absolute;
	top: 0px;
	left: 2px;
	color: white;
	text-align: center;
	font-size: 13px;
}

.foot-fif {
	width: 100px;
	height: 130px;
	position: absolute;
	top: 20px;
	left: 1220px;
}

.foot-three li:hover {
	color: red;
	cursor: pointer;
}

.footer-two {
	margin: 0 auto;
	width: 1200px;
}

.footer-two .foot-six li {
	float: left;
	color: lightgray;
	width: 80px;
	height: 14px;
	font-size: 14px;
	border-right: 1px solid lightgray;
	line-height: 14px;
	margin-left: 22px;
}

.footer-two .foot-six li:last-child {
	border: none;
}

.footer-two .foot-six {
	width: 823px;
	height: 14px;
	margin: 20px auto;
}

.footer-two .foot-sev li {
	float: left;
	color: lightgray;
	width: 120px;
	height: 12px;
	font-size: 12px;
	border-right: 1px solid lightgray;
	line-height: 12px;
	margin-left: 22px;
}

.foot-sev li:last-child {
	border: none;
}

.foot-sev {
	width: 572px;
	height: 13px;
	margin: -10px auto;
}

.footer-two ul li:hover {
	color: red;
	cursor: pointer;
}

.footer-two p {
	display: inline-block;
	font-size: 13px;
	height: 13px;
	width: 613px;
	margin-top: 15px;
	margin-left: 293px;
	color: #4C4C4C;
}

/* --------------------------------- */
.banner {
	width: 1200px;
	height: 550px;
	margin: 0 auto;
	clear: both;
}

.bigbgi {
	width: 100%;
	height: 550px;
	background: url(../images/confile_1573179955.png) no-repeat center -220px;
	clear: both;
}

.banner-nav {
	width: 1200px;
	height: 40px;
	line-height: 40px;
	background-color: white;
}

ul,
li {
	list-style: none;
}

.list li {
	float: left;
	cursor: pointer;
	color: #656565;
}

.list>li:first-child {
	width: 200px;
	height: 40px;
	background-color: red;
	text-align: center;
	font-size: 20px;
	color: white;
	font-weight: bold;
}

.list li {
	padding-right: 28px;
}

.list li:nth-child(2) {
	margin-left: 30px;
	color: red;
}

.list>li:not(:nth-child(1)):hover {
	color: red;
}

.aside {
	width: 230px;
	height: 500px;
	float: left;
	background: #333333;
	position: relative;
}

.aside-center {
	width: 760px;
	height: 500px;
	float: left;
	position: relative;
}

.aside-right {
	width: 210px;
	height: 500px;
	float: left;
	position: relative;
	background-color: white;
	border-top: 1px solid red;
}

.aside-ul>li {
	width: 230px;
	height: 62px;
	color: white;
	line-height: 20px;
}

.aside-ul li span:last-child {
	color: lightgray;
	margin-left: 20px;
}

.aside-ul li div {
	margin-top: 10px;
	margin-left: 20px;
}
.aside-ul li div span {
	position: static;
}

.aside-img {
	width: 760px;
	height: 500px;
	position: absolute;
	left: 0;
	top: 0;
}

.aside-img li img {
	width: 760px;
	height: 500px;
}

.aside-img li {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}

.aside-img .show {
	display: block;
}

.dots {
	width: 64px;
	height: 20px;
	background: lightgray;
	position: absolute;
	bottom: 22px;
	left: 50%;
	border-radius: 18px;
	opacity: 0.8;
	margin-left: -32px;
	text-align: center;
	line-height: 20px;
}

.dots li {
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: white;
	cursor: pointer;
}

.dots li.active {
	background: black;
}

.right {
	width: 60px;
	height: 30px;
	background-color: #0000FF;
	position: absolute;
	right: 100px;
	top: 100px;
	opacity: 0;
}

.avatar {
	width: 200px;
	height: 200px;
	text-align: center;
}

.avatar img {
	width: 80px;
	height: 80px;
}

.spanone,
.spantwo {
	display: inline-block;
	width: 80px;
	height: 24px;
	text-align: center;
	line-height: 24px;
	border-radius: 20px;
}

.spantwo {
	background: red;
	color: white;
}

.spanone {
	color: orangered;
}

.spanone:hover {
	background: red;
	color: white;
}

.icon,
.icon-one {
	font-size: 12px;
	width: 170px;
	height: 70px;
	display: none;
}

.sum {
	width: 200px;
	height: 80px;
	position: relative;
}

.icon {
	margin-top: 10px;
}

.icon>li,
.icon-one>li {
	width: 170px;
	height: 22px;
	margin-left: 20px;
	line-height: 22px;
	color: #333333;
}

.littleTab {
	font-size: 16px;
	width: 170px;
	height: 22px;
	font-weight: bold;
	color: gray;
	line-height: 22px;
	margin-left: 20px;
	cursor: pointer;
}

.red {
	color: red;
}

.icon-one {
	position: absolute;
	left: 0;
	top: 10px;
}

.entrance {
	width: 120px;
	height: 20px;
	display: inline-block;
	color: gray;
	font-weight: bold;
	line-height: 22px;
	position: absolute;
	left: 20px;
	bottom: 170px;
}

.moreicon {
	width: 200px;
	height: 150px;
	position: absolute;
	left: 0;
	bottom: 0;
}

.moreicon>li {
	width: 64px;
	height: 75px;
	border: 1px solid lightgray;
	float: left;
	font-size: 12px;
	text-align: center;
	line-height: 30px;
}

.moreicon>li>div {
	margin-top: 16px;
}

.erji {
	width: 970px;
	height: 600px;
	background-color: white;
	position: absolute;
	top: -10px;
	left: 210px;
	z-index: 1000;
	display: none;
	font-size: 12px;
	border-top: #333333 solid 1px;
	clear: both;
}

.aside-ul li:hover .erji {
	display: block;
}

.aside-ul>li:hover {
	background-color: #000000;
}

.erji>ul>li {
	color: #000000;
}

.erji>ul:first-child {
	margin-top: 20px;
	color: white;
	height: 20px;
}

.erji>ul:first-child>li {
	background-color: #555555;
	margin-left: 20px;
	color: white;
	float: left;
}

.erji>ul:nth-child(2) {
	margin-top: 30px;
}

.aside-ul>li:first-child>.erji>ul:not(:nth-child(1)) {
	margin-left: 40px;
	margin-bottom: 10px;
	border-bottom: 1px dashed darkgray;
	width: 600px;
	height: 60px;
}

.erji>ul:not(:nth-child(1))>li {
	margin-left: 20px;
	color: gray;
	float: left;
}

.erji>ul:not(:nth-child(1))>li:first-child {
	color: dimgray;
	font-weight: bold;
}

.one,
.three {
	line-height: 60px;
}

.four,
.five,
.six {
	line-height: 30px;
}

.seven img {
	width: 250px;
	height: 600px;
	position: absolute;
	right: 0px;
	top: 0px;
}

.ten {
	width: 600px;
	height: 40px;
	margin-left: 20px;
	border-bottom: gray 1px dashed;
	line-height: 40px;
}

.nine {
	width: 600px;
	height: 60px;
	line-height: 30px;
	margin-left: 20px;
	border-bottom: gray 1px dashed;
}

/* --------------------------------- */
/* 双十一加购会场 */
/* 内容content部分 */
#content {
	width: 1200px;
	height: 700px;
	margin: 0px auto;
	margin-top: -30px;
}

.content-img {
	width: 1200px;
	height: 150px;
}

.content {
	width: 1200px;
	height: 550px;
	background-color: #fd1b4e;
}

/* 内容content-top部分 */
.content-top {
	width: 1200px;
	height: 200px;
	padding: 8px 0px;
	display: flex;
	justify-content: space-around;
}

.content-top>li {
	cursor: pointer;
}

.content-top>li img {
	position: relative;
	top: 0;
	left: 0;
	transition: all 0.2s ease;
}

.content-top>li:hover img {
	top: -5px;
	transition: all 0.2s ease;
}

/* 内容content-middle部分 */
.content-middle {
	width: 1180px;
	height: 40px;
	margin: 0px auto;
	display: flex;
	justify-content: space-between;
}

.content-middle>h2,
.content-middle>span {
	height: 40px;
	line-height: 40px;
}

.content-middle>h2 {
	color: white;
}

.content-middle>span {
	font-weight: bold;
	font-size: 20px;
	color: yellow;
}

.content-middle>div {
	width: 130px;
	height: 25px;
	line-height: 25px;
	color: white;
	text-align: center;
	font-size: 14px;
	cursor: pointer;
	border-radius: 13px;
	border: 1px solid white;
}

/* 内容content-down部分 */
.content-down {
	width: 1200px;
	height: 294px;
	overflow: hidden;
	position: relative;
}

.content-down>div {
	width: 30px;
	height: 70px;
	line-height: 70px;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.3);
	position: absolute;
	top: 50%;
	z-index: 10;
	margin-top: -35px;
	display: none;
}

.content-down>div>i {
	font-size: 26px;
}

.content-down>div:first-of-type {
	left: 0;
}

.content-down>div:last-of-type {
	right: 0;
}

.content-down>ul {
	width: 2400px;
	height: 290px;
	position: absolute;
	top: 0px;
	left: 0px;
}

.content-down>ul>li {
	width: 228px;
	height: 283px;
	margin-left: 10px;
	margin-top: 3px;
	background-color: #fff;
	float: left;
}

.content-down>ul>li:hover {
	margin-top: -2px;
	transition: all 0.2s ease;
}

.content-down>ul>li img {
	width: 180px;
	margin: 10px 25px;
}

.content-down>ul>li p {
	width: 180px;
	height: 40px;
	font-size: 14px;
	overflow: hidden;
	margin: 0px auto;
	white-space: normal;

}

.content-down>ul>li p>span:first-of-type {
	font-size: 18px;
	color: red;
}

.content-down>ul>li p:first-of-type:hover {
	color: red;
}

.content-down>ul>li p>span:last-of-type {
	font-size: 14px;
	color: gray;
	text-decoration: line-through;
}

/* 尖货疯抢盛典部分 */
#goods {
	width: 1200px;
	height: 586px;
	margin: 0px auto;
	margin-top: 30px;
	position: relative;
}

.bgi {
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: -10;
}

.goods {
	width: 990px;
	height: 550px;
	position: absolute;
	top: 8px;
	right: 8px;
}

.goods>ul {
	width: 990px;
	height: 550px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.goods li {
	height: 210px;
	margin-top: 8px;
	transition: all 0.2s ease;
}

.goods li:hover {
	margin-top: 3px;
}

/* 发现好货，特色推荐部分 */
#find-spe {
	width: 1200px;
	height: 430px;
	margin: 0px auto;
	display: flex;
	justify-content:
		space-between;
}

.find,
.spe {
	width: 595px;
	height: 430px;
}

/* top部分 */
.find-top,
.spe-top {
	width: 579px;
	height: 50px;
	padding: 0px 8px;
	display: flex;
	justify-content: space-between;
}

/* 发现好货部分 */
.find-top {
	background-color: #449dae;
}

.spe-top {
	background-color: #a25684;
}

.find-top>h3,
.find-top>span,
.spe-top>h3,
.spe-top>span {
	height: 50px;
	line-height: 50px;
	color: white;
}

.find-top>span,
.spe-top>span {
	font-size: 14px;
}

/* down部分 */
.find-down {
	width: 595px;
	height: 370px;
	padding: 5px 0px;
	background-color: #fff;
}

/* .find-down-left部分 */
.find-down-left {
	width: 174px;
	height: 370px;
	padding: 0px 8px;
	float: left;
	border-right: 1px solid lightgray;
}

.find-down-left>div {
	width: 174px;
	height: 224px;
	border-bottom: 1px solid lightgray;
}

.find-down-left>div:last-of-type {
	height: 140px;
}

.find-down-left>div>img {
	width: 139px;
	cursor: pointer;
	margin-left: 10%;
	margin-top: 20%;
	transition: all 0.5s ease;
}

.find-down-left>div:last-of-type {
	border: 0;
}

.find-down-left>div:hover img {
	transform: scale(1.2);
	transition: all 0.5s ease;
}

.find-down-left>div:last-of-type>p {
	width: 174px;
	line-height: 20px;
	color: gray;
	font-size: 14px;
}

.find-down-left>div:last-of-type span {
	display: block;
	color: black;
}

.find-down-left button {
	width: 80px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border: 0;
	color: white;
	background-color: #449dae;
}

/* .find-down-right部分 */
.find-down-right {
	float: left;
}

.find-down-right>ul {
	width: 388px;
	height: 370px;
	padding: 0px 8px;
	float: left;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.find-down-right>ul>li {
	width: 180px;
	height: 120px;
	display: flex;
	justify-content: space-between;
}

.find-down-right>ul>li img {
	width: 80px;
	transition: all 0.5s ease;
}

.find-down-right>ul>li:hover img {
	transform: scale(1.1);
	transition: all 0.5s ease;
}

.find-down-right>ul>li p {
	width: 90px;
	margin-top: 20px;
}

.find-down-right>ul>li p>span {
	font-size: 12px;
	display: block;
}

.find-down-right>ul>li p>span:last-of-type {
	color: lightblue;
}

/* 特别推荐部分 */
.spe-down {
	width: 579px;
	height: 360px;
	padding: 5px 8px;
	display: flex;
	justify-content: space-around;
	background-color: #fff;
}

.spe-down-left,
.spe-down-right {
	width: 250px;
	height: 335px;
	padding-top: 15px;
}

.spe-down-left {
	border-right: 1px solid lightgray;
}

.spe-down-left img,
.spe-down-right img {
	width: 100%;
}

.spe-down-left>div,
.spe-down-right>div {
	font-size: 12px;
	height: 180px;
}

.spe-down-left>div>span:first-of-type,
.spe-down-right>div>span:first-of-type {
	width: 95px;
	height: 20px;
	line-height: 20px;
	border-radius: 10px;
	display: inline-block;
	color: white;
	text-align: center;
	cursor: pointer;
	margin-right: 10px;
	background-color: #a25684;
}

.spe-img {
	width: 200px;
	height: 120px;
	margin-top: 10px;
	padding: 10px 20px;
}

.spe-img>img {
	width: 200px;
	transition: all 0.5s ease;
}

.spe-img:hover img {
	transform: scale(1.1);
	transition: all 0.5s ease;
}

/* 侧边栏部分  */
#aside {
	height: 100%;
	display: flex;
	justify-content: space-between;
	position: fixed;
	top: 0;
	right: 0px;
	z-index: 50;
}

.aside-black {
	width: 40px;
	height: 100%;
	background-color: black;
}

.aside-black>ul {
	width: 40px;
	height: 470px;
	line-height: 100%;
	color: white;
	position: relative;
	top: 20%;
	left: 0;
}

.aside-black>ul>li {
	width: 40px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	position: relative;
	cursor: pointer;
}

.aside-black>ul>li:nth-child(2) {
	height: 140px;
	width: 26px;
	font-size: 14px;
	padding: 0px 7px;
	line-height: 20px;
	white-space: pre-line;
}

.aside-black>ul>li:nth-child(2)>span {
	width: 24px;
	height: 24px;
	display: block;
	margin: 8px 3px;
	border-radius: 12px;
	background-color: red;
}

.aside-black>ul>li:hover {
	background-color: red;
}

.aside-black>ul>li:not(:first-of-type)>div {
	width: 80px;
	height: 40px;
	position: absolute;
	top: 5px;
	left: -120px;
	background-color: black;
	color: #fff;
	font-size: 14px;
	text-align: center;
	line-height: 40px;
	opacity: 0;
}

.aside-black>ul>li:not(:first-of-type):hover div {
	opacity: 1;
	left: -80px;
	transition: all 1s ease;
}

/* 登录区 */
.cur {
	width: 300px;
	height: 200px;
	background-color: #fff;
	display: none;
	position: absolute;
	top: 0;
	left: -300px;
}

.cur>div:first-of-type {
	width: 270px;
	height: 120px;
	padding: 15px;
	color: black;
	border-bottom: 1px solid lightgray;
}

.cur>div:first-of-type>img {
	border-radius: 50%;
	position: relative;
	top: 0;
	left: -60px;
}

.cur>div:first-of-type p {
	display: inline-block;
	font-size: 14px;
}

.cur>div:last-of-type {
	width: 400px;
	height: 60px;
}

.cur>div:last-of-type>button {
	width: 100px;
	height: 30px;
	line-height: 30px;
}

.cur>div:last-of-type>button:first-of-type {
	margin-left: -80px;
}

.cur>div:last-of-type>button:hover {
	background-color: #fff;
	border: 1px solid red;
}

.aside-black>ul>li:first-of-type:hover .cur {
	display: block;
}

/* 右边灰色区域 */
.aside-gray{
    width: 280px;
	height: 100%;
    background-color: #eceaea;
    display: none;
}
.gray-top{
	width: 270px;
	height: 4%;
	padding: 0px 5px;
	background-color: #efefef;
	margin-top: 15px;
	border-bottom: 1px solid lightgray;
	cursor: pointer;
}
.gray-top>span:last-of-type{
	display: inline-block;
	float: right;
}
.gray-middle{
	width: 280px;
	height: 82%;
	text-align: center;
	position: relative;
}
.gray-middle>div{
	width: 275px;
	position: absolute;
	top: 40%;
	left: 5px;
}
.gray-middle>div>p:first-of-type{
	margin-top: 20px;
}
.gray-middle>div>p{
	font-size: 12px;
	color: gray;
	line-height: 25px;
}
.gray-middle>div a{
	color: red;
}
.gray-down{
	padding: 0px 5px;
	width: 270px;
	height: 10%;
	background-color: #fff;
	padding-top: 8px;
}
.gray-down>p>span{
	color: red;
}
.gray-down>p>span:last-of-type{
	font-size: 20px;
	font-weight: bold;
	display: inline-block;
	float: right;
}
.gray-down>button{
	width: 270px;
	height: 30px;
	text-align: center;
	background-color: red;
	color: white;
	font-size: large;
	font-weight: bold;
	border: 0;
	margin-top: 5px;
}
/* ----------------------------- */
/*特卖区域*/
.visual-item {
	width: 100%;
	height: 440px;
	margin-top: 20px;
	background-color: rgba(192, 192, 192, 0.1);
}

.view {
	width: 1200px;
	height: 440px;
	margin: 0 auto;
	background-color: #fff;
}

/*特卖区域  左*/
.vusual-left,
.vusual-middle,
.vusual-right {
	width: 393px;
	height: 440px;
	float: left;
	margin-right: 10px
}

.vusual-left .title {
	widows: 393px;
	height: 50px;
	background-color: #c43d7e;
	line-height: 50px;
}

.vusual-left .title h5 {
	float: left;
	margin-left: 15px;
	font-size: 20px;
	color: #fff;
	font-weight: 400;
}

.vusual-left .more {
	float: right;
	font-size: 12px;
	color: #fff;
	margin-right: 10px;
}

.vusual-left i img {
	vertical-align: middle;
}

.vusual-left .second-content {
	width: 369px;
	height: 380px;
	margin: 10px 15px 0px 12px;
}

.vusual-left .second-content ul {
	padding-top: 10px;
}

.vusual-left .second-content .first {
	height: 237px;
	border: 0;
	border-bottom: 1px solid #e7e7e7;
}

.vusual-left .second-content .first .list-li {}

.vusual-left .second-content .fist .p-name {
	width: 140px;
	height: 20px;
	font-size: 14px;
	color: #333;
}

.vusual-left .second-content .first .p-desc {
	width: 144px;
	height: 16px;
	color: #999;
	font-size: 12px;
}

.vusual-left .second-content .first .p-img {
	width: 160px;
	height: 160px;
}

.vusual-left .second-content .first img {
	width: 100%;
	height: 100%;
}

.vusual-left .second-content li {
	width: 182px;
	height: 118px;
	float: left;
	border-bottom: 1px solid #e7e7e7;
	border-left: 1px solid #e7e7e7;
	position: relative;
}

.vusual-left .second-content .list-li {
	border: 0;
	border-right: 1px solid #e7e7e7;
}

.vusual-left .vusual-left .second-content li:last-child {
	border-left: 1px solid #e7e7e7;
}

.vusual-left .second-content li .p-name {
	width: 72px;
	height: 40px;
	margin: 14px 0 0 15px;
	color: #333;
	font-size: 14px;
}

.vusual-left .second-content li .p-img {
	width: 90px;
	height: 90px;
	position: absolute;
	bottom: 3px;
	right: 3px;
	display: block;
}

.vusual-left .second-content li .p-desc {
	width: 72px;
	height: 16px;
	color: #999;
	font-size: 12px;
	margin: 10px 0 0 15px;
}

.vusual-left .second-content li #p-desc {
	margin: 10px 0 0 0;
}

.vusual-left .second-content li img {
	width: 100%;
	height: 100%;
}

.vusual-left .second-content li img {
	transition: all 0.5s;
}

.vusual-left .second-content li:hover img {
	transition: all 0.5s;
	transform: scale(1.1);
}

/* 特卖区域 左 结束 */
/*特卖区域   中*/
.vusual-middle .title {
	height: 50px;
	line-height: 50px;
	background-color: #E66A07;
}

.vusual-middle h5 {
	float: left;
	font-size: 20px;
	font-weight: 400;
	color: #fff;
	margin-left: 15px;
}

.vusual-middle .title .more {
	float: right;
	font-size: 12px;
	color: #fff;
	margin-right: 10px;
}

.vusual-middle .title .more img {
	vertical-align: middle;
}

.vusual-middle .second-content {
	width: 369px;
	height: 380px;
	margin: 10px 15px 0 12px;
}

.vusual-middle .second-content ul {
	padding-top: 10px;
}

.vusual-middle .second-content li {
	width: 182px;
	height: 118px;
	float: left;
	position: relative;
}

.vusual-middle .second-content .first {
	border-right: 1px solid #e7e7e7;
}

.vusual-middle .second-content .p-name {
	width: 72px;
	height: 40px;
	margin: 14px 0 0 15px;
	color: #333;
	font-size: 14px;
}

.vusual-middle .second-content .p-desc {
	width: 72px;
	height: 16px;
	font-size: 12px;
	color: #999;
	margin: 10px 0 0 15px;
}

.vusual-middle .second-content .p-img {
	width: 90px;
	height: 90px;
	position: absolute;
	bottom: 3px;
	right: 3px;
}

.vusual-middle .second-content .p-img img {
	width: 100%;
	height: 100%;
}

.vusual-middle .second-content .list-li {
	border-top: 1px solid #e7e7e7;
	border-right: 1px solid #e7e7e7;
}

.vusual-middle .second-content #p-desc {
	border-right: 0;
}

.vusual-middle .second-content li img {
	transition: all 0.5s;
}

.vusual-middle .second-content li:hover img {
	transition: all 0.5s;
	transform: scale(1.1);
}

/* 特卖区域 中 结束 */
/*特卖区域   右*/
.vusual-right {
	margin: 0;
}

.vusual-right .title {
	width: 393px;
	height: 50px;
	background-color: #B62323;
}

.vusual-right .title h5 {
	width: 60px;
	height: 50px;
	line-height: 50px;
	float: left;
	font-size: 20px;
	color: #fff;
	font-weight: 400;
	margin-left: 15px;
}

.vusual-right .title .more {
	width: 89px;
	height: 51px;
	font-size: 12px;
	color: #fff;
	line-height: 51px;
	float: right;
}

.vusual-right .second-content {
	width: 369px;
	height: 380px;
	margin: 10px 15px 0 12px;
}

.vusual-right .second-content .p-img {
	width: 100px;
	height: 100px;
}

.vusual-right .second-content .p-img img {
	width: 100%;
	height: 100%;
}

.vusual-right .second-content .p-desc {
	width: 112px;
	height: 22px;
}

.vusual-right .second-content li {
	width: 123px;
	height: 180px;
	float: left;
	border-bottom: 1px solid #ccc;
	position: relative;
}

.vusual-right .second-content .p-name {
	font-size: 12px;
	color: #333;
	width: 100px;
	height: 28px;
	line-height: 14px;
	margin: 5px 0 0 11px;
}

.vusual-right .second-content .p-desc {
	width: 112px;
	height: 22px;
	margin: 5px 0 0 11px;
	font-size: 14px;
	color: #B62323;
}

.vusual-right .second-content #p-desc {
	margin-top: 15px;
	border: 0;
}

.vusual-right .second-content .p-iconfont {
	width: 24px;
	height: 24px;
	color: #fff;
	font-size: 12px;
	display: inline-block;
	text-align: center;
	line-height: 24px;
	position: absolute;
	top: 0;
	right: 30px;
}

.vusual-right .second-content .p-iconfont1 {
	background: url(../images/标识1.png) no-repeat right;
}

.vusual-right .second-content .p-iconfont2 {
	background: url(../images/标识2.png) no-repeat right;
}

.vusual-right .second-content .p-iconfont3 {
	background: url(../images/标识3.png) no-repeat right;
}

/* 特卖区域 右 结束 */
/* 活动专区区域 */
#activity {
	width: 100%;
	height: 360px;
	margin-top: 10px;
}

.activity-one {
	width: 1200px;
	height: 360px;
	margin: 0 auto;
}

.activity-one .activity-list {
	width: 1200px;
	height: 360px;
}

.activity-one .activity-list li {
	width: 393px;
	height: 170px;
	float: left;
	position: relative;
	margin: 10px 7px 0 0;
}

.activity-one .activity-list li a {
	width: 100%;
	height: 126px;
	padding-top: 44px;
	display: block;
	color: #fff;
}

.activity-one .activity-list .line {
	position: relative;
	display: block;
	height: 2px;
	background: url(../images/festival_icon.png)no-repeat left;
	margin-left: 5px;
	z-index: 1;
}

.activity-one .activity-list .o-line {
	width: 78px;
	background-position: -1px -3px;
	margin-left: 35px;
}

.activity-one .activity-list .p-name {
	height: 26px;
	font-size: 20px;
	font-weight: 700;
	margin: 5px 0 0 35px;
}

.activity-one .activity-list .t-line {
	width: 154px;
	background-position: 0 -11px;
	margin-left: 35px;
	margin-top: 5px;
}

.activity-one .activity-list .p-desc {
	font-size: 14px;
	height: 20px;
	margin: 5px 0 0 35px;
}

.activity-one .activity-list li img {
	width: 170px;
	height: 170px;
	position: absolute;
	top: 0;
	right: 25px;
}

.activity-one .activity-list li img {
	transition: all 0.5s;
}

.activity-one .activity-list li img:hover {
	margin-right: 10px;
	transition: all 0.5s;
}

.activity-one .li-orange {
	background-color: #e89621;
}

.activity-one .li-blue {
	background-color: #325bb4;
}

.activity-one .li-green {
	background-color: #1c9daf;
}

.activity-one .li-red {
	background-color: #d13837;
}

.activity-one .li-pink {
	background-color: #ca4283;
}

.activity-one .li-purple {
	background-color: #5d40c1;
}

/* 活动专区区域结束 */
/* 还没逛够区域 */
#view {
	width: 100%;
	height: 1620px;
	margin-top: 20px;
}

.view-one {
	width: 1200px;
	height: 1535px;
	margin: 0 auto;
}

.view-one .view-list {
	width: 1200px;
	height: 1535px;
}

.view-one .view-list li {
	width: 208px;
	height: 287px;
	margin: 0 10px 10px 0;
	float: left;
	padding: 10px;
	border: 1px solid #D2D2D2;
}

.view-one .view-list .p-img img {
	width: 210px;
	height: 210px;
}

.view-one .view-list .p-name {
	width: 210px;
	height: 21px;
	font-size: 14px;
	overflow: hidden;
	text-overflow: ellipsis;
	/* 溢出省略 */
	white-space: nowrap;
	margin-top: 8px;
	color: #555;
}

.view-one .view-list .p-price {
	width: 210px;
	height: 36px;
	line-height: 36px;
	margin-top: 8px;
}

.view-one .view-list .p-price .left-price {
	color: #F42424;
}

.view-one .view-list .p-price .right-price {
	font-size: 12px;
	color: #555;
	text-decoration: line-through;
}

.view-one .view-list li {
	transition: all 0.5s;
}

.view-one .view-list li:hover {
	opacity: 0.7;
	transition: all 0.5s;
}

/* 还没逛够区域结束 */
/* 楼层导航开始 */
.fixed{
	width: 80px;
	height: 240px;
	background-color: #FAFAFA;
	position: fixed;
	top:260px;
	left: 40px;
	font-size: 12px;
	color: dimgray;
	text-align: center;
	line-height: 30px;
	display: none;
}
.active-nav{
	background-color: red;
}
.fixed li{
	cursor: pointer;
}
.sify{
	position: relative;
}
.sify>.aside{
	background: rgba(0,0,0,0.5);
	position: absolute;
	left: 0;
	top: 40px;
	display: none;
}
.sify:hover .aside{
	display: block;
}
